/* App.css */
.App {
  height: 100vh; /* Ocupa toda la altura de la ventana */
}

.container {
  display: flex; /* Usa Flexbox para el diseño del contenedor */
  height: 100%; /* Asegura que el contenedor ocupe toda la altura */
}

.menuBox {
  background-color: red;
  width: 5%; /* Define un ancho fijo del 10% para el menú lateral */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Para alinear las imágenes verticalmente */
}



.content {
  flex: 1;
  background-color: #f0f0f0; /* Fondo del contenedor de contenido */
  overflow: auto; /* Añade scroll si el contenido es demasiado grande */
}

.button-group {
  display: flex;
  justify-content: center; 
  margin-bottom: 20px; 
}

.App button {
  background-color: #7776bd;
  color: #fff;
  border: 1px solid black;
  border-radius: 10%;
  margin: 0 5px; 
}


/* FUENTES */
@font-face {
  font-family: 'Roboto';
  src: url('./Assets/Fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: 400;
  font-style: bold;
}
